<footer class="site-footer container medium">
    {{> customize/subscribe}}
    <div class="copyright">
        &copy; {{date format="YYYY"}} Sean Lunsford &amp; Elias Lanz
    </div>
</footer>

{{^is "post"}}
    {{> player is_external=true}}
{{/is}}